In [1]:
from warnings import simplefilter
simplefilter(action='ignore', category=FutureWarning)
import pandas as pd
from pathlib import Path
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier

In [2]:
file_path = Path("Data/cleaned_data.csv")
df= pd.read_csv(file_path)

In [3]:
y = df['rating']
x = df.drop(columns=['rating', 'image_url', 'url', 'id', 'name', 'transactions', 'city'])
#X = df.drop(columns='rating')

In [4]:
from sklearn import preprocessing
from sklearn import utils

lab = preprocessing.LabelEncoder()
y_transformed = lab.fit_transform(y)

In [5]:
X= x.fillna(0)

In [6]:
X.head(20)

    is_closed  review_count  price cuisines   latitude  longitude state
0       False          6100      2  Italian  40.742101 -73.989922    NY
1       False          5026      1  Italian  40.723088 -73.994530    NY
2       False          4821      2  Italian  40.733798 -73.999774    NY
3       False          4646      2  Italian  40.594715 -73.981316    NY
4       False          4640      2  Italian  40.757498 -73.986653    NY
5       False          3809      2  Mexican  40.742255 -74.005958    NY
6       False          3316      2  Mexican  40.722930 -73.994190    NY
7       False          3314      2  Italian  40.704930 -73.933990    NY
8       False          3145      2  Italian  40.722766 -73.996233    NY
9       False          3138      3  Italian  40.760830 -73.989810    NY
10      False          2904      1  Italian  40.732063 -74.003655    NY
11      False          2844      2  Mexican  40.561161 -74.301079    NJ
12      False          2819      2  Mexican  40.757507 -73.987772    NY
13      False          2768      3  Italian  40.772193 -73.955615    NY
14      False          2667      2  Italian  40.759876 -73.986767    NY
15      False          2603      4  Italian  40.732283 -73.999284    NY
16      False          2591      3  Italian  40.756410 -73.985470    NY
17      False          2488      2  Italian  40.758230 -73.988360    NY
18      False          2391      2  Italian  40.729431 -73.984541    NY
19      False          2357      3  Italian  40.733720 -74.005130    NY

In [13]:
X =pd.get_dummies(X).astype(int)
X.head()

,is_closed,review_count,price,latitude,longitude,cuisines_Italian,cuisines_Mexican,state_AR,state_AZ,state_BCN,...,state_ON,state_OR,state_PA,state_PE,state_SC,state_TN,state_TX,state_VA,state_WA,state_WI
0,0,6100,2,40,-73,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,5026,1,40,-73,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,4821,2,40,-73,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,4646,2,40,-73,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,4640,2,40,-73,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y_transformed, random_state=1)

In [15]:
scaler = StandardScaler()

X_scaler = scaler.fit(X_train)

X_train_scaled = X_scaler.transform(X_train)

X_test_scaled = X_scaler.transform(X_test)

In [18]:
model2 = tree.DecisionTreeClassifier()

In [19]:
model2 = model2.fit(X_train_scaled, y_train)

In [20]:
predictions = model2.predict(X_test_scaled)

In [22]:
print(classification_report(predictions, y_test))

              precision    recall  f1-score   support

           0       0.05      0.05      0.05        19
           1       0.16      0.12      0.14       118
           2       0.17      0.14      0.15       263
           3       0.11      0.09      0.10       381
           4       0.14      0.14      0.14       511
           5       0.29      0.27      0.28      1220
           6       0.34      0.38      0.36      1435
           7       0.20      0.21      0.20       720
           8       0.21      0.21      0.21       119

    accuracy                           0.25      4786
   macro avg       0.18      0.18      0.18      4786
weighted avg       0.25      0.25      0.25      4786

In [21]:
cm2 = confusion_matrix(y_test, predictions)
cm_df2 = pd.DataFrame(
    cm2, index=[""], columns=['']
)

ac_score2= accuracy_score(y_test, predictions)

ValueError: Shape of passed values is (9, 9), indices imply (1, 1)

In [ ]:
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {ac_score}")
print(classification_report(y_test, predictions))